<div class="container">
    <div class="row">
        <div class="col-md-3 article1">
            <h4><a href="article1.html">Congress fires Digvijay Singh </a>
            </h4>
            <p>Fed up with growing incompetency of senior party leader Digvijay Singh in linking and blaming Narendra Modi with
                any ongoing controversial event of late, Congress High Command has decided to fire the RSS hand finder. Sources
                tell Faking News that ...</p>
            <a href="article1.html" class="btn btn-info btn-xs">More Info </a>
        </div>

        <div class="col-md-3 article2">
            <h4><a href="article2.html">Madhya Pradesh polls</a>
            </h4>
            <p>Madhya Pradesh polls: Women voters outnumbered men in 25 seats. Bhopal: Women voters outnumbered men in 25 out
                of the total 230 assembly constituencies where polling was held on November 25 for the Madhya Pradesh assembly
                elections.</p>
            <a href="article2.html" class="btn btn-info btn-xs">More Info </a>
        </div>

        <div class="col-md-3 article3">
            <h4><a href="article3.html">Cambridge gurus studying Rajasthan polls</a>
            </h4>
            <p>Rajasthan's elections have caught the fancy of professors and research scholars from United Kingdom who are studying
                the way elections are fought in state and how the nation as a whole behaves during polls. Dr Anastasia Piliavsky
                who is a professor of ..</p>
            <a href="article3.html" class="btn btn-info btn-xs">More Info </a>
        </div>

        <div class="col-md-3 article4">
            <h4><a href="article4.html">Narendra Modi takes on Ashok Gehlot</a>
            </h4>
            <p>Lashing out at the Ashok Gehlot-led Government for failing to do or achieve anything in Rajasthan, Bharatiya
                Janata Party (BJP) <span class="imp_char">p</span>rime ministerial candidate Narendra Modi on Thursday said
                basic facilities were still not being provided to the people.</p>


            <a href="article.html" class="btn btn-info btn-xs">More Info </a>

        </div>


    </div>
</div>